@import "_vars";
.notification-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        border: 0;
        line-height: 1;
        background: transparent;
        cursor: pointer;
    }

    button svg {
        width: .8rem;
        height: .8rem;
        transition: all 0.2s;
        fill: transparentize($text-color, .5);
        &:hover {
            fill: transparentize($text-color, .2);
        }
    }
}

.notification-item-header-icon {
    display: flex;
    justify-content: space-between;
}

.notification-item-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.2rem;
}

.notification-item-body p {
    text-overflow: ellipsis;
    overflow: hidden;
}
