<ng-container *ngFor="let item of counters">
  <div
    matRipple
    matTooltipPosition="right"
    class="filter-box justify-content-between"
    [class.selected]="itemClass == item.key || (!itemClass && item.key == 'all')"
    [class.disabled]="process"
    [matTooltip]="item.name"
    [matTooltipDisabled]="!sidebarContent.sidebarCollapsed"
    (click)="getEntityName(item.key)"
  >
    <div class="d-flex">
      <img class="mr-2" src="/img/svg/entity-counters/{{ item.key }}.svg" />
      <span *ngIf="!sidebarContent.sidebarCollapsed" class="filter-box--text text-capitalize">{{ item.name }}</span>
    </div>
    <div
      class="filter-box--counter e2e-entity-{{ item.key }}-amount badge badge-default badge-pill"
      [ngClass]="{ collapsed: sidebarContent.sidebarCollapsed }"
    >
      {{ data[item.key] ? data[item.key] : 0 }}
    </div>
  </div>
</ng-container>
