@import "_vars";
$primary-color: darken($color-accent, 20%);
$padding: .5rem;
.close {
  width: 48px;
  height: 48px;
  padding: 0;
}

.main {
  height: calc(100vh - 9rem);
}

.main.canClose {
  padding-top: $nav-height;
  display: flex;
  height: 100vh;
  overflow: hidden;
  .content {
    background: radial-gradient(ellipse at center, transparentize($bg-color, .1) 0%, transparentize($bg-color, .3) 100%);
  }
}

.content {
  padding: 0;
  flex: 1;
  background: transparent;
  z-index: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.viewer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding;
  h5 {
    margin-bottom: 0;
  }
}

.viewer-block-pdf {
  flex: 1;
}

.viewer-block-img {
  ::ng-deep svg {
    height: calc(100vh - 9rem);
    margin: auto;
    display: block;
    width: 100%;
  }
}

.img-fluid {
  max-height: 100%;
}

.pdf-viewer {
  width: 100%;
  min-height: 100%;
  border: none;
}

// TODO change styles for safari
img {
  max-height: calc(100vh - 9rem);
  max-width: 100%;
  margin: auto;
  display: block;
}

.default-thumbnail {
  width: 55%;
  margin: 0 auto;
  cursor: zoom-in;
  margin-top: 3rem;
  margin-bottom: 3rem;
}