<div class="about-view">
  <div class="about-container">
    <mat-card>
      <h1>About Leanda</h1>
      <p>
        The
        <b>Open Science Data Repository</b> (OSDR) provides capabilities for depositing and managing general scientific data
        interactively. It's a unique architecture allows connecting various modules without rebuilding the whole system.
        Currently a large set of modules is implemented providing general content management as well as scientific data handling.
        Our goal is to address functional, design and UX deficits in other systems and make OSDR the de-facto gold standard
        for open science. The OSDR vision is to be an open tool based on open standards for improving data sharing and collaboration
        with a potential impact across many scientific areas.
      </p>
      <h5>Machine Learning</h5>
      <p>
        A machine learning (ML) framework is embedded into OSDR and can be used as an API, standalone tool or can be integrated in
        a new software as an autonomous module. OSDR provides a number of pipelines simplifying cheminformatics workflows
        used in research and drug discovery starting from data import and curation and finishing with the predictive models
        training, evaluation and application. The trained models can be used for QSAR, QSPR, and drug screening. Trained
        models can be shared with other users or made public. The Single Structure Property Prediction service is free for
        public and provides a set of physico-chemical and ADME-Tox properties prediction using a large set of internally
        validated models ranging from classic such as Naïve Baes to Deep Neural Networks.
      </p>
      <h5>Chemically- and semantically-enabled scientific data repository</h5>
      <p>
        There is a clear disconnect between chemical databases, publishers’ data repositories and semantic web knowledgebases. OSDR
        provides a basic chemistry data processing pipeline, including validation and standardization of chemical representation,
        but unlike PubChem, or other chemistry databases, it extends the list of supported types to reactions,
        crystals and analytical data. Due to the ability to read and interpret chemical formats, OSDR provides chemical indexing
        capabilities (content can be searched by chemical structure, reaction, etc.) in addition to regular searches by various
        alpha-numerical properties. OSDR allows real-time data curation and supports ontologies-based properties assignment
        with subsequent complex searches. OSDR’s deposition pipeline includes a data mining stage which allows text-mining
        and chemical names to chemical structures conversion on the fly when a new chemical file is deposited. OSDR security
        model supports private, shared and public data. OSDR, by incorporating data mining and a curation pipeline on top
        of integration with multiple data sources, provides a platform for rapid composition of training data sets for immediate
        modeling.
      </p>
      <h5>Format Adapters</h5>
      <p>
        OSDR supports various formats and is able to convert between them seamlessly on the fly at time of import or export. OSDR
        has the built in capability to load CSV files, specify column mapping to semantic type and run real-time conversion
        with results being visually controlled. Once information is imported into a system, other operations like exporting
        in various formats, modeling, etc. become possible.
      </p>
      <h5>Open platform for data acquisition, curation and dissemination</h5>
      <p>
        Data is essential for science and data repositories have existed for decades and have been well-supported by NSF and other
        grants, yet they are merely file stores. OSDR was designed to support multiple ways of data acquisition, conversion,
        real-time automated and manual data curation and dissemination through export and API.
      </p>
    </mat-card>
  </div>
</div>