<dr-sidebar-content>
  <sidebar [ngClass]="{ collapsed: sidebarContent.sidebarCollapsed, public: isPublic }">
    <div class="file-buttons">
      <a
        *ngIf="!sidebarContent.sidebarCollapsed && !isPublic"
        (click)="downloadEntity()"
        mat-icon-button
        matTooltip="Download"
        matTooltipPosition="right"
        class="e2e-download-file action-buttons"
        download="{{ fileInfo?.name }}"
      >
        <img src="/img/svg/material/ic_file_download_black_24px.svg" />
      </a>
      <button
        [ngClass]="{ shared: isShared }"
        *ngIf="!sidebarContent.sidebarCollapsed && !isPublic"
        mat-icon-button
        matTooltip="{{ sharedToolTip }}"
        matTooltipPosition="right"
        class="e2e-public-link action-buttons"
        (click)="openSharedLinksDialog()"
      >
        <img src="/img/svg/material/ic_link_black_24px.svg" />
      </button>
      <div
        *ngIf="!sidebarContent.sidebarCollapsed && !isPublic && ['mol', 'sdf', 'cdx'].indexOf(fileExtension) >= 0"
        class="d-inline-block"
      >
        <button
          *ngIf="fileExtension !== 'csv'"
          mat-icon-button
          matTooltip="Export to CSV"
          matTooltipPosition="right"
          (click)="openExportDialog('csv')"
        >
          <img src="/img/svg/export-to-csv.svg" />
        </button>
        <button
          *ngIf="fileExtension !== 'sdf'"
          mat-icon-button
          matTooltip="Export to SDF"
          matTooltipPosition="right"
          (click)="openExportDialog('sdf')"
        >
          <img src="/img/svg/export-to-sdf.svg" />
        </button>
        <!-- <button *ngIf="fileExtension !== 'spl'" mat-icon-button matTooltip="Export to SPL" matTooltipPosition="right" (click)="openExportDialog('spl')">
          <img src="/img/svg/export-to-spl.svg" />
        </button> -->
      </div>

      <div
        *ngIf="sidebarContent.sidebarCollapsed && !isPublic"
        (mouseenter)="showPopover('showDownloadPopover')"
        (mouseleave)="hidePopover('showDownloadPopover')"
        [ngClass]="{ show: showDownloadPopover }"
        class="download-popover"
      >
        <a mat-icon-button matTooltip="Download" matTooltipPosition="right" (click)="downloadEntity()" download="{{ fileInfo?.name }}">
          <img src="/img/svg/material/ic_file_download_black_24px.svg" />
        </a>
        <button
          [ngClass]="{ shared: isShared }"
          mat-icon-button
          matTooltip="{{ sharedToolTip }}"
          matTooltipPosition="right"
          class="e2e-public-link action-buttons"
          (click)="openSharedLinksDialog()"
        >
          <img src="/img/svg/material/ic_link_black_24px.svg" />
        </button>
        <div *ngIf="['mol', 'sdf', 'cdx'].indexOf(fileExtension) >= 0" class="d-flex">
          <button
            *ngIf="fileExtension !== 'csv'"
            mat-icon-button
            matTooltip="Export to CSV"
            matTooltipPosition="right"
            (click)="openExportDialog('csv')"
          >
            <img src="/img/svg/export-to-csv.svg" />
          </button>
          <button
            *ngIf="fileExtension !== 'sdf'"
            mat-icon-button
            matTooltip="Export to SDF"
            matTooltipPosition="right"
            (click)="openExportDialog('sdf')"
          >
            <img src="/img/svg/export-to-sdf.svg" />
          </button>
          <!-- <button *ngIf="fileExtension !== 'spl'" mat-icon-button matTooltip="Export to SPL" matTooltipPosition="right" (click)="openExportDialog('spl')">
            <img src="/img/svg/export-to-spl.svg" />
          </button> -->
        </div>
      </div>

      <div
        *ngIf="!isPublic"
        (mouseenter)="showPopover('showSocialsPopover')"
        (mouseleave)="hidePopover('showSocialsPopover')"
        [ngClass]="{ show: showSocialsPopover }"
        class="socials"
      >
        <button mat-icon-button matTooltip="Share on Twitter">
          <img src="/img/svg/file-socials-share/round/twitter.svg" />
        </button>
        <button mat-icon-button matTooltip="Share on Facebook">
          <img src="/img/svg/file-socials-share/round/facebook.svg" />
        </button>
        <button mat-icon-button matTooltip="Share on LinkedIn">
          <img src="/img/svg/file-socials-share/round/linkedin.svg" />
        </button>
        <button mat-icon-button matTooltip="Share on Google Plus">
          <img src="/img/svg/file-socials-share/round/google-plus.svg" />
        </button>
      </div>

      <div
        *ngIf="sidebarContent.sidebarCollapsed"
        (mouseenter)="showPopover('showInfoPopover')"
        (mouseleave)="hidePopover('showInfoPopover')"
        [ngClass]="{ show: showInfoPopover }"
        class="info-popover"
      >
        <dl *ngIf="fileInfo">
          <dt>Created Date</dt>
          <dd *ngIf="fileInfo">{{ fileInfo.Created() | date: 'shortDate' }}</dd>
          <dt>Owner</dt>
          <dd *ngIf="fileInfo.userInfo | async as userInfo">{{ userInfo?.displayName }}</dd>
          <dt *ngIf="fileInfo && fileInfo.totalRecords">Records</dt>
          <dd *ngIf="fileInfo && fileInfo.totalRecords">{{ fileInfo.totalRecords }}</dd>
        </dl>
        <!-- <ul class="list-group">
          <li *ngFor="let item of listProperties" (click)="goToAssignInfoBox(item)" class="list-group-item list-group-item-action justify-content-between"
            mat-ripple>
            <img src="/img/file-src/intrinsic.ico" class="file-src-img" no-inline/>
            <span class="text-truncate"> {{item.name}}</span>
          </li>
        </ul> -->
        <button
          *ngFor="let item of listProperties"
          mat-button
          class="e2e-show-{{ item.viewType }} show-records-btn"
          (click)="changeView(item.viewType)"
          [ngClass]="{ active: currentTab === item.viewType }"
        >
          <span class="text-truncate"> {{ item.name }}</span>
        </button>
      </div>

      <div
        *ngIf="sidebarContent.sidebarCollapsed"
        (mouseenter)="showPopover('showPreviewPopover')"
        (mouseleave)="hidePopover('showPreviewPopover')"
        [ngClass]="{ show: showPreviewPopover }"
        class="preview-popover"
      >
        <div mat-ripple>
          <img
            class="e2e-middle-preview preview-img"
            *ngIf="getImageURL(fileInfo)"
            [class.active]="currentTab === tab.Preview"
            (click)="changeView(tab.Preview)"
            [src]="getImageURL(fileInfo)"
            no-inline
          />
          <!-- <dr-cif-preview *ngIf="JSMolPreview" [viewType]="currentTab === tab.Preview ? true : false" [fileItem]="fileInfo"></dr-cif-preview>
          <dr-spectra-jsmol-preview *ngIf="JsSpectraPreview" [fileItem]="fileInfo"></dr-spectra-jsmol-preview> -->
        </div>
      </div>

      <div
        *ngIf="sidebarContent.sidebarCollapsed && fileInfo?.totalRecords"
        (mouseenter)="showPopover('showRecordsPopover')"
        (mouseleave)="hidePopover('showRecordsPopover')"
        [ngClass]="{ show: showRecordsPopover }"
        class="records-popover"
      >
        <button mat-button (click)="changeView(tab.Records)">
          <span>{{ recordsType }}&nbsp;records</span>
          <b>{{ fileInfo.totalRecords }}</b>
        </button>
      </div>

      <div *ngIf="sidebarContent.sidebarCollapsed" class="collapsed-buttons">
        <div *ngIf="!isPublic" (mouseenter)="showPopover('showDownloadPopover')" (mouseleave)="hidePopover('showDownloadPopover')">
          <a mat-icon-button>
            <img src="/img/svg/export-file.svg" />
          </a>
        </div>

        <div *ngIf="!isPublic" (mouseenter)="showPopover('showSocialsPopover')" (mouseleave)="hidePopover('showSocialsPopover')">
          <button mat-icon-button>
            <img src="/img/svg/material/ic_share_black_24px.svg" />
          </button>
        </div>

        <div
          (mouseenter)="showPopover('showInfoPopover')"
          (mouseleave)="hidePopover('showInfoPopover')"
          [ngClass]="{ active: currentTab === tab.Properties }"
        >
          <button (click)="changeView(tab.Properties)" mat-icon-button>
            <img src="/img/svg/material/ic_info_outline_black_24px.svg" />
          </button>
        </div>

        <div
          (mouseenter)="showPopover('showPreviewPopover')"
          (mouseleave)="hidePopover('showPreviewPopover')"
          [ngClass]="{ active: currentTab === tab.Preview }"
        >
          <button (click)="changeView(tab.Preview)" mat-icon-button>
            <img src="/img/svg/material/ic_image_black_24px.svg" />
          </button>
        </div>

        <div
          *ngIf="showRecords"
          (mouseenter)="showPopover('showRecordsPopover')"
          (mouseleave)="hidePopover('showRecordsPopover')"
          [ngClass]="{ active: currentTab === tab.Records }"
        >
          <button (click)="changeView(tab.Records)" mat-icon-button>
            <img src="/img/svg/record.svg" />
          </button>
        </div>
      </div>
    </div>

    <div class="file-img">
      <div mat-ripple>
        <div [class.active]="currentTab === tab.Preview">
          <div
            *ngIf="getImageURL(fileInfo) && !JsSpectraPreview"
            [class.default-thumbnail]="fileInfo && (!fileInfo.images || !fileInfo.images.length)"
          >
            <img class="e2e-middle-preview preview-img" (click)="changeView(tab.Preview)" [src]="getImageURL(fileInfo)" no-inline />
          </div>
          <dr-spectra-jsmol-preview *ngIf="JsSpectraPreview" [fileItem]="fileInfo" (click)="changeView(tab.Preview)">
          </dr-spectra-jsmol-preview>
        </div>
      </div>
      <h5 class="text-muted d-inline-block">File</h5>
      <img *ngIf="fileInfo?.loading && !fileProcessed" class="structure-loader" src="/img/svg/loaders/loader-flask.svg" no-inline />
    </div>

    <div *ngIf="!sidebarContent.sidebarCollapsed" class="tab-records">
      <dl *ngIf="fileInfo">
        <dt>Created Date</dt>
        <dd>{{ fileInfo.Created() | date: 'shortDate' }}</dd>
        <dt *ngIf="fileInfo.userInfo">Owner</dt>
        <dd *ngIf="fileInfo.userInfo | async as userInfo">{{ userInfo?.displayName }}</dd>
        <dt *ngIf="fileInfo.totalRecords">Records</dt>
        <dd *ngIf="fileInfo.totalRecords">{{ fileInfo.totalRecords }}</dd>
      </dl>
    </div>

    <div *ngIf="!sidebarContent.sidebarCollapsed" class="properties-ul">
      <!-- <ul class="list-group">
        <li *ngFor="let item of listProperties" (click)="changeView(item.viewType)" class="list-group-item list-group-item-action justify-content-between"
          [ngClass]="{active:currentTab==item.viewType}" mat-ripple>
          <img src="/img/file-src/intrinsic.ico" class="file-src-img" no-inline/>
          <span class="text-truncate"> {{item.name}}</span>
        </li>
      </ul> -->
      <button
        *ngFor="let item of listProperties"
        mat-button
        class="e2e-show-{{ item.viewType }} show-records-btn"
        (click)="changeView(item.viewType)"
        [ngClass]="{ active: currentTab === item.viewType }"
      >
        <span class="text-truncate"> {{ item.name }}</span>
      </button>
    </div>

    <button
      *ngIf="!sidebarContent.sidebarCollapsed && fileInfo?.totalRecords"
      mat-button
      class="e2e-show-records show-records-btn"
      (click)="changeView(tab.Records)"
      [ngClass]="{ active: currentTab === tab.Records }"
    >
      <span>{{ recordsType }}&nbsp;records</span>
      <b>&nbsp;{{ fileInfo.totalRecords }}</b>
    </button>

    <button
      *ngIf="isMicroscopy"
      mat-button
      class="e2e-show-records show-records-btn"
      (click)="changeView(tab.Bio_Metadata)"
      [ngClass]="{ active: currentTab === tab.Bio_Metadata }"
    >
      Biological Information
    </button>
    <button
      mat-button
      class="e2e-show-records show-records-btn"
      (click)="changeView(tab.Generic_Metadata)"
      [ngClass]="{ active: currentTab === tab.Generic_Metadata }"
    >
      File Information
    </button>
  </sidebar>
  <content class="file-content">
    <dr-organize-toolbar
      *ngIf="initied"
      [activeButtons]="toolBarButtons"
      (toolbarEvent)="onToolbarButtonClick($event)"
      [breadcrumbs]="breadcrumbs"
      [isPublic]="isPublic"
      [fileInfo]="fileInfo"
      [currentView]="currentView"
    >
    </dr-organize-toolbar>

    <dr-filter-bar [filterFieldsList]="filterListFields" (filterChanged)="onApplyFilter($event)" *ngIf="showFilter"> </dr-filter-bar>
    <div class="overflow-auto">
      <div #fileViewContainer></div>
    </div>
    <div [hidden]="currentTab !== tab.Properties">
      <ng-container *ngFor="let item of infoBoxes">
        <dr-organize-info-box-factory [componentData]="item"></dr-organize-info-box-factory>
      </ng-container>
    </div>
  </content>
</dr-sidebar-content>
<dr-notifications-side-bar *ngIf="!isPublic"></dr-notifications-side-bar>
<dr-splash-notification></dr-splash-notification>
