.table {
  background: #eceeef;
  margin: 0;
}

.gray-header {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%);
}

:host {
  overflow: auto;
}

:host {
  margin: .5rem 0 .5rem .5rem;
}

.table-responsive {
  overflow-x: inherit;
}
