.fingerprints {
      mat-form-field {
        display: inline-block;
        width: 31%;
        // margin: 0 0.5rem;
        padding: 0.25rem;
      }
      i {
        padding-top: 1rem;
        cursor: pointer;
        vertical-align: middle !important;
      }
  }