@import '_vars';
@import '_mixins';
footer {
  hr.spear {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), transparentize(white, .5), rgba(0, 0, 0, 0));
  }
  ::ng-deep .social-icons {
    svg,
    img {
      width: 2rem;
      height: 2rem;
      margin: 0 .5rem;
    }
  }
  .copyright {
    color: darken(white, 15%);
    text-shadow: 0 0 0.5rem black;
    margin: 1rem;
    word-spacing: .1rem;
    font-size: .7rem;
    a {
      color: white !important;
    }
  }
}

.view-home {
  color: white;
  text-shadow: 0 0 .5rem lighten($color-accent, 30%);
  margin-bottom: 7rem;
  .hexagon/*deep*/
    {
    color: white;
    width: 12rem;
    height: 12rem;
    display: inline-block;
    position: relative;
    margin: .5rem;
    ::ng-deep svg {
      transition: all .2s;
      position: absolute;
      filter: drop-shadow( 0px 0px .2rem $color-accent);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      .hex-border {
        stroke: $color-accent;
        fill: none;
        stroke-miterlimit: 10;
        stroke-width: .3rem;
      }
      path {
        fill: white;
      }
    }
    &:hover {
      ::ng-deep svg {
        filter: drop-shadow( 0px 0px .5rem white);
        .hex-border {
          stroke: white;
        }
      }
    }
  }
  .numbers-info {
    ::ng-deep .svg-text svg {
      width: auto;
      margin-top: 3rem;
      margin-bottom: .3rem;
      height: 4rem;
      position: relative;
      display: inline-block;
    }
    .hexagon {
      width: 20rem;
    }
  }
  .features-info .capability {
    display: inline-block;
    vertical-align: top;
    width: 20rem;
    h4 {
      margin-top: 1rem;
    }
  }
  .title {
    font-size: 2.5rem;
    font-weight: 100;
    border-top: solid .05rem $color-accent;
    border-bottom: solid .05rem $color-accent;
    padding: .3rem 1.2rem;
    margin-top: 1em;
    margin-bottom: 2rem;
    display: inline-block;
  }
}

.container-fluid {
  top: 80px;
}

.events-box-home {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  position: fixed;
  top: 4rem;
  right: 1.5rem;
  left: auto;
  display: block;
  transition: all .3s;
  border-radius: .25rem; //background: transparentize($bg-color, .1);
  background: $bg-color;
  border: solid 0.1rem transparent;
  z-index: 1;
  min-height: 28px;
  max-height: 323px;
  width: 362px; //@include card-shadow(1);
  box-shadow: 0 0 .5rem lighten($color-accent, 30%);
}

.events-box-header-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .2rem .5rem; //border-bottom: solid 1px transparentize($bg-color-invert, .8);
  span {
    //padding: 1rem;
    font-size: 1rem;
  }
}
