<div class="main" [ngClass]="{'collapsed': sidebarCollapsed}">
  <div class="sidebar">
    <ng-content select="sidebar"></ng-content>
    <div class="collapse-toggle">
      <button mat-button (click)="sidebarCollapsed = !sidebarCollapsed">
        <div *ngIf="sidebarCollapsed">
          <img src="/img/svg/material/ic_chevron_right_black_24px.svg" alt="">
        </div>
        <div *ngIf="!sidebarCollapsed">
          <img src="/img/svg/material/ic_chevron_left_black_24px.svg" alt="">
        </div>
      </button>
    </div>
  </div>
  <div class="content">
    <ng-content select="content"></ng-content>
  </div>
</div>
