@import 'assets/fonts/open-sans/_open-sans.scss';
@import './md-theme.scss';
@import 'assets/sass/_master.scss';
html,
body {
  height: 100%;
}

::selection {
  color: white;
  background: darken($color-accent, 20%);
}

*:focus {
  outline: none !important;
}

a {
  text-decoration: none !important;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  // background: $bg-image no-repeat center center fixed;
  background: #000000;
  background-size: cover;
}

.navbar {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 0.2rem 1rem;
}

/*bootstrap override*/

.list-group-item.disabled {
  color: #ccc;
  svg {
    fill: #ccc !important;
  }
}

.btn {
  cursor: pointer;
}

.btn-primary {
  background: darken($color-accent, 20%);
  border-color: darken($color-accent, 25%);
  &:hover {
    background-color: darken($color-accent, 15%);
    border-color: darken(desaturate($color-accent, 30%), 20%);
  }
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: darken(desaturate($color-accent, 80%), 15%);
  border-color: darken($color-accent, 20%);
}

.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
  background-color: darken($color-accent, 20%);
  border-color: darken($color-accent, 25%);
}

.btn:focus,
.btn.focus {
  box-shadow: 0 0 0 2px transparentize(desaturate($color-accent, 80%), .5);
}

/*modal*/

.modal {
  .modal-header {
    border-bottom: none; //box-shadow: 0 0px 5px black; // only if scrolled
    z-index: 1;
    .close {
      height: 23px;
      width: 24px;
      background-image: url(/img/svg/material/ic_close_black_24px.svg);
      span {
        display: none;
      }
    }
    .modal-title {
      //text-align: center;
      font-weight: bold;
      width: 100%;
    }
  }
  .modal-body {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
  }
  .modal-footer {
    border-top: none;
  }
}

.modal-open .modal {
  overflow: hidden;
}

/*checkboxes*/

.checkbox-style {
  &>input {
    opacity: 0;
  }
  .checkbox-box-style {
    cursor: pointer;
    position: absolute;
    border: solid 1px darken($bg-color, 20%);
    width: 20px;
    height: 20px;
    border-radius: 2px;
  }
  &>input:checked~.checkbox-box-style {
    background: darken($bg-color, 15%);
    &:after {
      left: 7px;
      top: 3px;
      width: 5px;
      height: 12px;
      border: solid black;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      content: '';
      position: absolute;
    }
  }
  &>input:disabled~.checkbox-box-style {
    background: gainsboro;
    cursor: not-allowed;
  }
}

/*context-style*/

.list-group-item:first-child {
  border-top-right-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
}

/*dropdown*/

a.dropdown-item {
  cursor: pointer;
  &.active,
  &:active {
    color: white;
    background-color: darken(desaturate($color-accent, 50%), 25%);
    &:hover {
      color: white;
      background-color: darken(desaturate($color-accent, 40%), 15%);
    }
  }
}

/*set menu icons size*/

.mat-menu-content {
  svg.menu-icon {
    height: 14px;
    width: 14px;
    margin-right: 10px;
    fill: rgba(0, 0, 0, 0.5);
  }
  .mat-menu-item.disabled {
    opacity: .5;
    pointer-events: none;
  }
}

.mat-tooltip-panel {
  word-wrap: break-word;
}

// bootstrap modals fixes (like a material)
.modal-backdrop.show {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.288);
}

.modal-content {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
  border-radius: 2px;
  border: none;
}

.modal-header>button.close {
  display: none;
}

.modal-dialog {
  margin: auto;
  min-width: 500px;
}

modal-container {
  display: flex !important;
  .modal-dialog {
    top: inherit;
    transform: inherit !important;
  }
}

.modal-title {
  font-weight: normal !important;
}

.modal-dialog {
  top: 50%;
  transform: translateY(-50%) !important;
}

.modal.fade .modal-dialog {
  transform: translate(0, 10%) scale(.9, .9);
  transition-duration: 0.1s;
}

.modal.show .modal-dialog {
  transform: translate(0, 0) scale(1, 1);
}

.modal-body {
  .mat-button.mat-primary:not([disabled]):not(:focus) {
    color: #099;
  }
}

.mat-dialog-actions button:not(:first-child) {
  margin-right: 8px;
}

mat-dialog-container {
  padding-right: 15px !important;
  overflow-x: hidden !important;
}

// espes. ml-train-dialog
dr-ml-train-dialog {
  display: block;
  margin-bottom: -9px;
}

button.dialog-close {
  transition: all .2s;
  width: 30px;
  height: 30px;
  line-height: 0 !important;
  position: absolute;
  right: 0;
  margin: -20px -10px 0 0;
  opacity: .4;
  &:hover {
    opacity: .8;
  }
  mat-icon {
    width: 12px;
    height: 12px;
    line-height: 0 !important;
  }
}

.modal-header button.dialog-close {
  margin: -10px 5px 0 0;
}
