@import '_bg';
$color-accent: cyan;
$color-accent-darken: darken($color-accent, 20%);
$color-accent-muted:transparentize(darken(desaturate($color-accent, 70%), 15%), .5);
.color-accent {
    color: $color-accent
}

$color-sidebar-icon: rgba(0, 0, 0, 0.5);
$text-color: black;
$bg-color: white;
$bg-color-invert: invert($bg-color);
$border-radius: .25rem;
$transition: all .2s;
$transition-dur: .2s;
//nav
$nav-height: 3.3rem;
//organize
$left-organize-panel-width: 20rem;

/* material util */

@mixin mat-box-shadow {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
